* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #e5e5e5;
}

.main_nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 5rem;
    .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 40%;
        margin: 10rem;
        
    }
    .nav {
        padding: 1rem 1rem;
        border-radius: 50%;
        background-color:#fca311;
        margin: 10rem 10rem;
        box-shadow:  0 3px 15px rgba(0, 0, 0, .3);
        flex: 1 1 15%
        .fa-solid{
            font-size: larger
;
            }
       
    
    }

}




